.popup__info {
  padding: 0 0 11px;
  margin: 30px 36px 48px;
  width: 358px;
  height: 14px;
  border: none;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
