.popup__container {
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: #FFFFFF;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@media screen and (max-width: 630px) {
  .popup__container {
    width: 282px;
    height: 322px;
  }
}
