.popup__submit-button {
  margin: 48px 36px 35px;
  padding: 0;
  border: none;
  width: 358px;
  height: 50px;
  background-color: #000000;
  border-radius: 2px;
  transition: opacity 0.35s linear;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 630px) {
  .popup__submit-button {
    margin: 0 22px 0;
    width: 238px;
    height: 46px;
  }
}
