.place__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-button_disabled.svg);
  border: 0;
  padding: 0;
  background-color: #FFFFFF;
  background-size: cover;
  position: absolute;
  right: 20px;
  bottom: 30px;
}

