.place__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/like-button_disabled.svg);
  border: 0;
  padding: 0;
  margin: auto 5px;
  background-color: #FFFFFF;
  background-size: cover;
  align-self: center;
  padding: auto 5px;
  transition: opacity 0.35s linear;
}

.place__like-button:hover {
  opacity: 50%;
}

.place__like-button:active {
  background-image: url(../../../images/like-button_active.svg);
  opacity: 1;
}
